body, html {
    height: 100%;
    font-family: 'Raleway', sans-serif;
}
a{
    color:white;
}

#loadingoverlay{
    background: #050b16; /* Old browsers */
    background: -moz-linear-gradient(top, #050b16 80%, #aa0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(80%,#050b16), color-stop(100%,#aa0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #050b16 80%,#aa0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #050b16 80%,#aa0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #050b16 80%,#aa0000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #050b16 80%,#aa0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050b16', endColorstr='#aa0000',GradientType=0 ); /* IE6-9 */
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    text-transform: uppercase;
    text-align:center;
}

h1 {
    font-size:5em;
    margin-top:200px;
    margin-bottom:-20px;
    padding-bottom:0px;
    font-weight:800;
    color:red;
}

#loadingoverlay h1{
    display:none;
}
#loadingoverlay h2,#loadingoverlay h3{
    font-size:0.8em;
    margin:0px;
    font-weight:100;
    color:#fff;
    display:none;
}

#loadingoverlay h3{
    color:#7f8795;
    text-transform: none;
    margin-top:32px;
}

#header {
    color:white;
    font-weight:800;
    position:absolute;
    bottom:20px;
    left:20px;
}


#header h1,#header h2,#header h3{
    margin:0px;
    font-size:1em;
    display:block;
}


#header h1 {
    text-transform: uppercase;
    font-size:1.3em;
}

#header h2{
    font-size:0.7em;
    font-weight:100;
}

#detail {
    display:none;
    position:absolute;
    bottom:0px;
    right:0px;
    width:400px;
    height:100px;
    word-wrap: break-word;
    background: black no-repeat top left;
    color:white;
    -webkit-box-shadow: 0 0 30px 5px rgba(255,0,0,1);
    box-shadow: 0 0 30px 5px rgba(255,0,0,1);
}

#detail-location {
    position:absolute;
    top:5px;
    left:5px;
    font-size:14px;
    line-height: 14px;
    font-weight:100;
    width:300px;
}

#detail .marker {
    position:absolute;
    top:38px;
    left:188px;
    width:24px;
    height:24px;
    background: transparent url(../img/pin.gif) no-repeat 0px 0px;
}

#detail-magnitude {
    position:absolute;
    top:5px;
    right:5px;
    font-size:24px;
    line-height:16px;
    font-weight:800;
    color:#fff;
    text-align: right;
}

#detail-magnitude h1,#detail-depth h1{
    font-size:10px;
    text-transform: uppercase;
    margin:0;
    padding:0;
}

#detail-depth {
    position:absolute;
    bottom:5px;
    right:5px;
    font-size:14px;
    font-weight:800;
    color:#fff;
    text-align: right;
}